.keyboard {
  text-align: center;
}

.row {
  margin-bottom: 0.25rem;
}

.key {
  padding: 0.25rem;
  font-size: 1rem;
  background-color: lightgrey;
  margin-left: 0.25rem;
  color: black;
  font-family: monospace;
  border-radius: 4px;
}

.misplaced {
  background-color: hsl(50deg 100% 30%);
  color: whitesmoke;
}

.incorrect {
  background-color: hsl(0deg 70% 45%);
  color: whitesmoke;
}

.correct {
  background-color: hsl(150deg 70% 30%);
  color: whitesmoke;
}
